# RAG app
## llma provider api key
CEREBRAS_API_KEY=""

## dense model
DENSE_MODEL="embeddinggemma-300m"
DENSE_MODEL_PATH="google/embeddinggemma-300m"
DENSE_DIM=768

## sparse model
SPARSE_MODEL="splade-v3"
SPARSE_MODEL_PATH="naver/splade-v3"
SPARSE_DIM=30522

## inverse index ranking algo
SCORING_METHOD="okapi-bm25" 

## reranking model
RERANKING_MODEL="bge-reranker-v2-m3"
RERANKING_MODEL_PATH="BAAI/bge-reranker-v2-m3"


## utils
FUSION_METHOD="dbsf"
WORD_PROCESS_METHOD="lemmatize"
RRF_K=2



# storage
## postgres
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="pg"
POSTGRES_DB="cs419_db"

# backend
BACKEND_HOST="localhost"
BACKEND_PORT=8000
